module.exports = {
    twilioSid: "SID",
    twilioToken: "TOKEN",
    twilioTestSid: "SID",
    twilioTestToken: "TOKEN",
    stripeTestPrivate: "PRIVATE_KEY",
    stripeTestPublic: "PUBLIC_KEY",
    stripePrivate: "PRIVATE_KEY",
    stripePublic: "PUBLIC_KEY",
    awsMailerKeyId: "AWS_ACCESS_KEY_ID",
    awsMailerSecretKey: "AWS_SECRET_ACCESS_KEY",
    phonjourOpsKey: "KEY_USED_FOR_CHRON_JOBS_ETC",
    phonjourMasterPassword: "PASSWORD_FOR_ALL_ACCOUNTS",
    googleAnalyticsId: null
};
