-----BEGIN CERTIFICATE-----
MIICgzCCAewCCQDJ8wO4nZ52xDANBgkqhkiG9w0BAQUFADCBhTELMAkGA1UEBhMC
Q0ExGTAXBgNVBAgMEEJyaXRpc2ggQ29sdW1iaWExEjAQBgNVBAcMCVZhbmNvdXZl
cjERMA8GA1UECgwIUGhvbmpvdXIxETAPBgNVBAMMCFBob25qb3VyMSEwHwYJKoZI
hvcNAQkBFhJhZG1pbkBwaG9uam91ci5jb20wHhcNMTUwNzI2MjMyNDE2WhcNMTYw
NzI1MjMyNDE2WjCBhTELMAkGA1UEBhMCQ0ExGTAXBgNVBAgMEEJyaXRpc2ggQ29s
dW1iaWExEjAQBgNVBAcMCVZhbmNvdXZlcjERMA8GA1UECgwIUGhvbmpvdXIxETAP
BgNVBAMMCFBob25qb3VyMSEwHwYJKoZIhvcNAQkBFhJhZG1pbkBwaG9uam91ci5j
b20wgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBANl99cclQpQgwpGAuczqm5gF
VkaaVvP/CGe2KrowMvEK5LnukWQK3BjQI8o7MTkrsnhcYGO6TUl150QX5gSkm1ly
qZRfr8bslGAf8PkUM8PgNOYk4WXg4Laqh2BlfJw+IhdxCVwrMYRoFLJXBbCJ2h6e
D0vtY9Z87FySqkTiaT9HAgMBAAEwDQYJKoZIhvcNAQEFBQADgYEAOoWkTbsp2ize
Fqjz0pjmobPvgAV6JPXvmaNT2U4Yy0hmBOLBFXkMg14mR6viviaurjVwrgJTVu/O
Y7vnhem0SVJiHagzpns1x56kmsYpq43xWcnho7QA26+EfSqUCpgdlE6b8g8zRLPT
Ac1Q38hkkaVXTDDvSVqx3uI5Ew6xI7Q=
-----END CERTIFICATE-----
