extends layout

block navbar
    include navbar

block content
    #forgot_password_div
        h3 Enter Email to Recover Account
        .panel.panel-default
            .panel-body
                .row
                    .col-xs-12.col-sm-3
                        label(for="email_input") Email:
                        span.glyphicon.glyphicon-question-sign.left5(data-toggle="tooltip", title="The email you used to sign up.")
                    .col-xs-12.col-sm-3
                        input.form-control(type = "email", data-bind="value: email, valueUpdate: 'afterkeydown'")#email_input
                .row.top30
                    .col-xs-12.col-sm-3.col-sm-offset-3
                        button.btn.btn-primary#forgot_password_button(type="button", data-bind="click: forgotPassword, enable: email") Recover
                        #forgot_password_spinner.spinner-hidden
                .row.top15
                    .col-xs-12.col-sm-3.col-sm-offset-3
                        button.btn.btn-default(type="button", data-bind="click: back") Back
                .row.top30.error-message-row#forgot_password_error_row
                    .col-xs-12.col-sm-3.col-sm-offset-3
                        .alert.alert-danger
                            span.glyphicon.glyphicon-exclamation-sign
                            span.left5#forgot_password_error_message .
                .row.top30.error-message-row#forgot_password_success_row
                    .col-xs-12.col-sm-3.col-sm-offset-3
                        .alert.alert-success
                            span.glyphicon.glyphicon-ok
                            span.left5 You will shortly receive a recovery email if you entered the correct email. Please do not submit the request again.
        script(type="text/javascript").
            $(document).ready(function() {
                function ForgotPasswordViewModel() {
                    var self = this;
                    this.email = ko.observable("");

                    this.back = function() {
                        window.history.back();
                    };

                    this.forgotPassword = (function() {
                        var email = this.email();

                        if (!email) {
                            return;
                        }

                        $("#forgot_password_spinner").removeClass("spinner-hidden");
                        $("#forgot_password_spinner").addClass("spinner");
                        $("#forgot_password_error_row").hide();
                        $("#forgot_password_success_row").hide();
                        Phonjour.api('user', 'forgotPassword', {email: email})
                            .done(function(data) {
                                    if (data && data.successful) {
                                        $("#forgot_password_success_row").show();
                                        self.email("");
                                    } else {
                                        $("#forgot_password_error_message").text("Was not able to send recovery email!");
                                        $("#forgot_password_error_row").show();
                                    }
                                })
                            .fail(function(error) {
                                    $("#forgot_password_error_message").text("Was not able to send recovery email!");
                                    $("#forgot_password_error_row").show();
                                })
                            .always(function() {
                                    $("#forgot_password_spinner").removeClass("spinner");
                                    $("#forgot_password_spinner").addClass("spinner-hidden");
                                });
                    }).bind(this);
                }

                ko.applyBindings(new ForgotPasswordViewModel(), document.getElementById('forgot_password_div'));

                $("#forgot_password_div").keyup(function(event){
                    if(event.keyCode === 13){
                        $("#forgot_password_button").click();
                    }
                });
            });
