| Hello #{name}!

| You or someone else reset your Phonjour account's password. If it wasn't you, please let us know.

| You can now sign in at https://www.phonjour.com/sign_in with your new password: #{password}

| Please consider changing your password once you sign in.

| Best,

| Phonjour team.