| Hello #{name},

| Congratulations! You just purchased phone number "#{phoneNumber}", and it will immediately accept phone calls!

| You can now sign in at https://www.phonjour.com/sign_in and start setting up your phone extensions, business hours, greeting messages, etc.

| You will only receive transactional emails like this from us. If you have any questions, please let us know.

| Best,

| Phonjour team.