| Hello #{name},

| We are sad to see you go! Your account with phone number "#{phoneNumber}" was just terminated.

| You will receive the last bill after #{terminationDate}.

| If you would like to join us later, feel free to sign up again with another email address!

| — Phonjour Team
