| Hello #{name},

| You received a voicemail from "#{fromNumber}" on #{timestamp}.

| We have attached an MP3 file containing the audio message.

| Please let us know if you have any questions.

| — Phonjour Team
