| Hello #{name},

| We're very happy to have you on-board with Phonjour. We're trying our best to make Phonjour a product that our customers love, and there's nothing more important than your success in using it.

| Please feel free to sign in at https://www.phonjour.com/sign_in and see how extensions, greeting, business hours, etc. work. In order to test it out with a real phone number, you'll need to add your payment info and pick your favorite phone number. You can use one of our obligation-free trial offers to get started.

| Please let us know if you have any questions or suggestions.

| Best,

| Phonjour team.